<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h4>Pets app</h4>
   <a href="/new_pet">Crea tu nuevo pet</a>
    <ol>
      <% @pets.each_with_index do |pet, index| %>
        <li>
          <%= pet %> <a href="/edit_pet/<%=index%>">editar</a>
          <form class="" action="/pets" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="<%=index%>">
            <button type="submit">Eliminar</button>
          </form>
        </li>

      <% end %>
    </ol>
  </body>
</html>
